/* Estilos Predeterminados */

*{
  font-family: "Permanent Marker", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  width: 90px;
}
  
li:hover {
background-color:rgb(246, 201, 181);  
cursor: pointer;
border-radius: 5px;
}

.carousel-item{
  height: 500px;
}

.carousel-item img{
  height: 100%;
 /* object-fit: cover;*/
  filter: grayscale(0.5);
}
.publicidad{
  height: auto;
  width: auto;
}

.card-img-top{
  padding: 20px 0px;
  width: auto;
}

.publicidad-img{
  width: 260px;
}

.card{
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}        

.card:hover{
  box-shadow: 0 8px 8px 0 #f42100,0 8px 8px 0 #f49b00;
  transform: translate(0px,5px);
  cursor: pointer;
}

.card-body{
  border-radius: 25px;
}


.btn-primary{
  border-radius: 50px;
  width: 100px;
  background: #FD611A;
}

.btn-primary:hover{
  background-color: rgb(250, 124, 78) ;
}

h3,h5{
  color: rgb(0, 91, 228);
}
.tarjetas{
  background: rgb(241, 239, 239)
}

footer{
  min-height: 150px;
  padding-top: 10px;
  background: orangered;
  }



.redesSociales img{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.redesSociales img:hover{
  transform: scale3d(1.5, 1.5, 0.3);
      -webkit-transform: scale3d(1.5, 1.5, 0.3);
      -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.detalles p{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}

              
  @keyframes surprise
  {
      0% {transform: rotate(0deg) scale(1,1);;}
      10% {transform: rotate(7deg) scale(2,2);}
      20% {transform: rotate(-7deg) scale(2,2);}
      30% {transform: rotate(7deg) scale(2,2);}
      40% {transform: rotate(-7deg) scale(2,2);}
      50% {transform: rotate(7deg) scale(2,2);}
      60% {transform: rotate(-7deg) scale(2,2);}
      70% {transform: rotate(7deg) scale(2,2);}
      80% {transform: rotate(-7deg) scale(2,2);}
      90% {transform: rotate(7deg) scale(2,2);}
      100% {transform: rotate(0deg) scale(1,1);}
  }
           
  .navbar-brand img:hover{
    animation-name: surprise;
        -webkit-animation-name: surprise;
        -moz-animation-name: surprise;
    animation-duration: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
  }
  
    @keyframes surprise
    {
        0% {transform: rotate(0deg) scale(1,1);;}
        10% {transform: rotate(7deg) scale(2,2);}
        20% {transform: rotate(-7deg) scale(2,2);}
        30% {transform: rotate(7deg) scale(2,2);}
        40% {transform: rotate(-7deg) scale(2,2);}
        50% {transform: rotate(7deg) scale(2,2);}
        60% {transform: rotate(-7deg) scale(2,2);}
        70% {transform: rotate(7deg) scale(2,2);}
        80% {transform: rotate(-7deg) scale(2,2);}
        90% {transform: rotate(7deg) scale(2,2);}
        100% {transform: rotate(0deg) scale(1,1);}
    }
         
.navbar img{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.navbar img:hover{
  transform: rotateZ(360deg);
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
}
.dropdown-menu a:hover{
  background: #FD611A;
}

.social--Image{
  width: 35px;
  margin: 0px 15px;
}

/* FIN DE INDEX (PRINCIPAL) 
-----------------------------------------------
----------------------------------------------
---------------------------------------------- */


/* INICIO 404 */
.bg {
 
  background-image: url('/img/404img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0; 
  height: 100vh;
 
}
/* FIN 404 
-----------------------------------------------
----------------------------------------------
---------------------------------------------- */





/* INICIO CONTACTO */

/* Agregando el tipo de fuente a el formulario y al h2 */
form,
h2{
  font-size: 27px;
  color: black;
}

/* Agregando Color al boton y ajustando su margen para estar despegado al form */
.btn{
  background-color: #FD611A;
  border: none;
  color: black;
  width: 100%;
  margin-top: 20px;
  font-family: "Permanent Marker", cursive;
}


/* Hover con una transicion de 0.5s para que al pasar el mouse por el boton se inviertan los colores */
.btn:hover{
  background-color: black;
  color: #FD611A;
  transition: 0.5s ease-in;
}

/* Dandole borde con el color naranja al input del form */
input:hover{
  border: 0.5px solid #FD611A;
}

/* Margen al iframe para la version mobile, asi no queda pegado al boton */
.iframe{
  margin-top: 20px;
}

.contacto-bg{
  background-color: #050507;
}

/* FIN CONTACTO -------------------------------------
-------------------------------------------------
-------------------------------------------------- */


/* INICIO LOGIN */

.body--Login{
  background-color: #050507;
}

.login-form{
  border: 2px solid #050507;
  padding: 60px;
  box-shadow: 5px 5px 4px 4px #FD611A;
  color: white;
}