/* COLORES */
/* Naranja: FD611A */
/* Negro : #050507 */

/* Fuente */
/* font-family: "Permanent Marker", cursive; */



/* ------------------------INICIO CSS (CONTACTO - JUAN IGNACIO CAPRA)------------------------ */



/* Propiedades por defecto */
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


/* Agregando el tipo de fuente a el formulario y al h2 */
form,
h2{
  font-family: "Permanent Marker", cursive;
}
h2{
  font-size: 27px;
  color: black;
}

/* Agregando Color al boton y ajustando su margen para estar despegado al form */
.btn{
  background-color: #FD611A;
  border: none;
  color: black;
  width: 100%;
  margin-top: 20px;
  font-family: "Permanent Marker", cursive;
}


/* Hover con una transicion de 0.5s para que al pasar el mouse por el boton se inviertan los colores */
.btn:hover{
  background-color: black;
  color: #FD611A;
  transition: 0.5s ease-in;
}

/* Dandole borde con el color naranja al input del form */
input:hover{
  border: 0.5px solid #FD611A;
}

/* Margen al iframe para la version mobile, asi no queda pegado al boton */
.iframe{
  margin-top: 20px;
}

.contacto-bg{
  background-color: #050507;
}



/* -------------------ERROR 404------------------- */

.bg {
 
  background-image: url('/img/404img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0; 
  height: 100vh;
 
}


/*---------------LOGIN--------------------------------*/

.body--Login{
  background-color: #050507;
}

.login-form{
  border: 2px solid #050507;
  padding: 60px;
  box-shadow: 5px 5px 4px 4px #FD611A;
  color: white;
}